<%- include('./partials/header')%>
<link rel="stylesheet" href="/multistep/multistep.css" type="text/css" />

<div class="list-a">
<ul>
    <li class="line-hover"><a href="/education">Eduaction</a></li>
    <li class="line-hover"><a href="/skill">Skill</a></li>
    <li class="line-hover"><a href="/project">Project</a></li>
    <li class="line-hover"><a href="/experience">Experience</a></li>
    <li class="line-hover"><a href="/interest">Interest</a></li>
</ul>

</div>

<h1 class="von mt-5 p-5 text-center f-1">Add Resumes</h1>



<%- include('./partials/footer')%>
